@import font_faces.scss

$white: #fff
$black: #111
$dark-grey: #39424E
$font: 'San Francisco Mono Number', 'Roboto Mono Number', 'Noto Sans Mono Number', 'Source Code Pro Number', 'Menlo Number', 'Liberation Mono Number', 'Droid Sans Mono Number', 'Consolas Number', 'DejaVu Sans Mono Number', 'Bitstream Vera Sans Mono Number', 'Monaco Number', 'Lucida Console Number', -apple-system, BlinkMacSystemFont, Roboto, 'Noto Sans', 'Source Sans Pro', sans-serif
$body-size: 16px
$body-text: $white

$links: darken($white, 20%)
$links-hover: $white

$code-block: #000004
